<div class="container">
	<div class="row justify-content-center align-items-center" style="height: 80vh;">
		<div class="col-lg-8 col-md-10 col-sm-12 text-center">
			<h1 class="text-primary fw-bold fs-2">
				Oops!
			</h1>
			<div>
				<img src="assets/images/404_not_found.png" width="65%" class="img-fluid">
			</div>
			<h2 class="text-primary fw-bold">
				The page you looking for is not found
			</h2>

			<button class="btn btn-primary" (click)="goBack()">Go Back</button>
		</div>
	</div>
</div>