@use '@angular/material' as mat;

.form-control,
.form-select,
.form-control:disabled,
.form-control[readonly] {
	border: 1px solid $custom-black-20;
	background-color: $white;
	border-radius: 10px;
}
.form-control:focus {
	box-shadow: none;
}
.form-select:focus {
	box-shadow: none;
}

.form-label {
	text-transform: capitalize;
	color: $custom-black-80 !important;
}

.form-material-control {
	border: 1px solid $custom-black-20 !important;
	background-color: $white;
	border-radius: 10px;
	.mat-mdc-form-field-flex {
		height: 36px;
	}
	.mat-mdc-form-field-subscript-wrapper {
		display: none;
	}
	.mdc-text-field--filled:not(.mdc-text-field--disabled) {
		background-color: inherit;
	}
	.mat-mdc-text-field-wrapper:hover .mat-mdc-form-field-focus-overlay {
		opacity: 0;
	}
	.mdc-text-field {
		position: unset;
		padding: 0 12px;
	}
	.mat-mdc-text-field-wrapper {
		.mat-mdc-form-field-infix {
			border-top: 0px;
			font-size: 1rem;
			font-weight: 400;
			line-height: 1.5;
			color: #212529;
			padding: 8px 0;
			min-height: 0;
		}
		.mat-datepicker-toggle {
			color: $primary;
			font-size: large;
		}
		.mdc-line-ripple::before,
		.mdc-line-ripple::after {
			content: none;
			display: none;
		}
	}
}

.search-input-group {
	border: 1px solid $custom-black-20 !important;
	border-right: transparent !important;
	border-radius: 10px;
}
.search-form-control {
	border-left: transparent !important;
}

.file-input-group {
	.rounded-end {
		border-top-right-radius: 10px !important;
		border-bottom-right-radius: 10px !important;
	}
}

.form-switch > .form-check-input:checked {
	background-color: $green !important;
	border-color: $green !important;
}

.mat-calendar-body-selected {
	background-color: $primary !important;
}

.input-group,
.form-group {
	margin-bottom: 10px;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}
input[type='file'] {
	opacity: 0;
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
}

.ng-select {
	.ng-select-container {
		background-color: transparent !important;
		border: none;
		min-height: fit-content;
	}
	.ng-select-container:hover {
		box-shadow: none;
	}

	.ng-dropdown-panel {
		background-color: $white;
		left: 0px;

		padding: 12px;
		border: 1px solid $primary-100;

		.ng-optgroup {
			padding: 5px 5px;
		}
		.ng-option-child {
			padding-left: 10px;
		}
	}
	.ng-select-bottom {
		top: 100% !important;
	}
	.ng-select-top {
		bottom: 100% !important;
	}
}
.ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
	box-shadow: none;
	border-color: transparent;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
	background-color: transparent;
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
	background-color: transparent;
	margin: 0px;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
	background-color: transparent;
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container {
	padding: 0;
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-input {
	padding: 0;
}
.ng-select.ng-select-single .ng-select-container {
	height: auto;
}
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
	top: 0px;
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
	top: 0px;
	padding-bottom: 0px;
}
.mobile-ng-select {
	.ng-select.ng-select-disabled .ng-arrow-wrapper {
		display: none !important;
	}
	.ng-select .ng-arrow-wrapper .ng-arrow {
		display: none !important;
	}
}
// date picker
// .ngb-dp-weekday {
// 	color: $primary-400 !important;
// }
// .ngb-dp-arrow {
// 	.btn {
// 		color: $primary-400 !important;
// 	}
// }

//material
.mat-calendar-body-selected {
	background-color: $custom-primary;
	color: $white;
}
.form-select:disabled {
	background-color: $white;
}
