.progress-bar-20 {
	background: linear-gradient(90deg, #ff7073 4.14%, #dd2025 122.03%);
}

.progress-bar-50 {
	background: linear-gradient(90deg, #40a3b6 0%, #4d64ae 100.49%);
}

.progress-bar-100 {
	background: linear-gradient(90deg, #68bd5b 0.47%, #269262 100.03%);
}
