<div class="container-fluid page-padding">
	<div class="row justify-content-between ign-items-center">
		<div class="col-lg-3 col-md-4 col-sm-12">
			<h2 class="text-custom-black fs-3 fw-bold mb-0">Tasks</h2>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-12 text-end" *appIsGranted="'ADD'">
			<button type="button" class="btn btn-primary w-100" (click)="add()">+ Add a task</button>
		</div>
	</div>
	<div class="row">
		
		<div class="row align-items-center">
			<div class="col-lg-3 col-md-4 col-sm-12">
				<div class="form-group">
					<label class="form-label text-custom-black">Search</label>
					<div class="input-group flex-nowrap">
						<span class="input-group-text bg-transparent search-input-group" id="addon-wrapping">
							<mat-icon mat-list-icon class="text-custom-black-50">search</mat-icon>
						</span>
						<input
							type="text"
							class="form-control search-form-control bg-transparent"
							placeholder="Search"
							aria-label="search"
							[ngModelOptions]="{ standalone: true }"
							[(ngModel)]="searchTerm"
							(keyup)="applyFilters()"
						/>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-3 col-sm-12 mt-3">
				<button class="btn btn-outline-primary w-100" (click)="clearFilter()">Clear Filter</button>
			</div>
		</div>
	</div>

	<ng-container>
		<div class="table-responsive mt-3">
			<table class="table table-hover">
				<thead>
					<tr>
						<ng-container *ngFor="let item of headerColumn">
							<th scope="col" *ngIf="item.sorting" [sortable]="item.value" (sort)="onSort($event)">
								{{ item.label }}
							</th>
							<th scope="col" *ngIf="!item.sorting">
								{{ item.label }}
							</th>
						</ng-container>
					</tr>
				</thead>
				<tbody *ngIf="dataList['count'] > 0">
					<tr *ngFor="let item of dataList['rows']">
						<td class="text-capitalize text-wrap">
							{{ item.name | truncate }}
						</td>
						<td class="text-wrap">{{ item?.mobileNumber | truncate }}</td>
						<td class="text-wrap">{{ item?.email | truncate }}</td>
						<td class="text-wrap text-capitalize">{{ item?.designation.replace('_', ' ') | truncate }}</td>
						<td class="text-wrap">{{ item?.companyName | truncate }}</td>
						
						<td>
							<div class="d-flex flex-row gap-2">
								<span
									class="me-2"
									*appIsGranted="'EDIT'"
									role="button"
									ngbTooltip="Edit"
									(click)="edit(item)"
								>
									<iconify-icon
										class="fs-5 text-custom-black-50"
										icon="iconamoon:edit-light"
									></iconify-icon>
								</span>
								<span
									class="me-2"
									*appIsGranted="'DELETE'"
									role="button"
									(click)="openConfirmDelete(item)"
									ngbTooltip="Delete"
								>
									<iconify-icon
										class="fs-5 text-custom-black-50"
										icon="ant-design:delete-outlined"
									></iconify-icon>
								</span>
							</div>
							
						</td>
					</tr>
				</tbody>
				<tbody *ngIf="dataList['count'] === 0">
					<tr>
						<td class="text-center" [attr.colspan]="headerColumn.length">{{ OPTIONS?.noRecord }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="d-flex justify-content-center align-items-start w-100 p-3" *ngIf="dataList['count'] > 0">
			
		</div>

		<app-pagination
			[collectionSize]="collectionSize"
			[(page)]="page"
			*ngIf="dataList['count'] > 0"
			[pageSize]="pageSize"
			(pageChange)="onPageChange($event)"
			[maxSize]="5"
		></app-pagination>
	</ng-container>
</div>
