<div class="m-3">
	<!-- <div class="modal-header border-0">
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close('Cross click')"></button>
    </div> -->
	<div class="modal-body px-4">
		<div class="text-center mb-2">
			<img [src]="image" *ngIf="image" />
			<span *ngIf="iconName">
				<iconify-icon [class]="customClass" [icon]="iconName"></iconify-icon>
			</span>
		</div>
		<div class="text-center">
			<h2 class="text-primary-500 text-capitalize" *ngIf="title">
				{{ title }}
			</h2>
			<p *ngIf="description">{{ description }}</p>
		</div>
	</div>
	<div class="modal-footer border-0 d-flex justify-content-center">
		<button
			type="button"
			class="btn {{ cancelButtonColor }} px-4"
			*ngIf="cancelText != null"
			(click)="activeModal.dismiss('close click')"
		>
			{{ cancelText }}
		</button>
		<button
			type="button"
			class="btn px-4 {{ okButtonColor }}"
			*ngIf="okText != null"
			(click)="activeModal.close('close click')"
		>
			{{ okText }}
		</button>
	</div>
</div>
