<mat-sidenav-container>
	<mat-sidenav
		#sidenav
		[mode]="mobileQuery.matches ? 'push' : 'side'"
		[opened]="!collapsedNav"
		[ngClass]="{ 'sidenav-collapsed': collapsedNav }"
	>
		<mat-nav-list>
			<ng-container *ngFor="let nav of sideBarList">
				<mat-list-item
					class="side-item"
					*ngIf="nav.list.length === 0 && viewSideBarItem(nav)"
					(click)="!disableItems(nav) && navigateTo(nav.path)"
					routerLinkActive=" router-link-active"
					[ngClass]="linkActive(nav.path)"
				>
					<iconify-icon matListItemIcon icon="{{ nav.icon }}"></iconify-icon>
					<div matListItemTitle>{{ nav.name }}</div>
				</mat-list-item>
			</ng-container>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content [ngClass]="{ 'sidenav-collapsed': collapsedNav }">
		<app-header [collapsedNav]="collapsedNav" (collapsedEvent)="toggleSideBar($event)" [currentUser]="currentUser">
		</app-header>
		<div class="main-content">
			<div class="d-flex" style="min-height: 100vh">
				<div [ngClass]="showGettingSubItem ? 'col-lg-10 col-md-9 col-sm-12' : 'col-lg-12 col-md-12 col-sm-12'">
					<app-breadcrumb
						*ngIf="!router.url.includes('dashboard') "
					></app-breadcrumb>
					<router-outlet></router-outlet>
				</div>
			</div>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
