.container-fluid {
	background-image: url('../../../../assets/icons/dashboard/bg-dashboard.svg');
	background-repeat: no-repeat;
	background-size: auto;
	background-position-x: right;
	background-position-y: -74px !important;
}
