
div.footer(style="text-align:center;margin-top:20px")
  img(src=linkedin_logo,style='height:40px;width:40px;display:block;margin-left:auto;margin-right:auto;padding-bottom:15px;padding-top:0px')
  a(href="",style="color:#c6c8cc !important;text-decoration: none;padding-right: 10px")
    | FAQ
  a(href="",style="color:#c6c8cc !important;text-decoration:none;")
    | | 
    span(style="color:#c6c8cc !important;text-decoration:none;margin-left: 10px")
      | TERMS & CONDITIONS
  a(href="",style="color:#c6c8cc !important;text-decoration:none;margin-left: 10px")
    | | 
    span(style="color:#c6c8cc !important;text-decoration:none;margin-left: 10px")
      | CONTACT US
